<div class="container mb-4">
    <div class="row">
        <div class="input-group col-sm">
            <div class="input-group-prepend">
                <span class="input-group-text">Minimum Salary: $</span>
            </div>
            <input name="minSalary" id="minSalary" class="form-control" type="number" [(ngModel)]="minSalary" #minSal="ngModel" (change)="valChange()">   
        </div>

        <div class="input-group col-sm">
            <div class="input-group-prepend">
                <span class="input-group-text">Maximum Salary: $</span>
            </div>
            <input name="maxSalary" id="maxSalary" class="form-control" type="number" [(ngModel)]="maxSalary" #maxSal="ngModel" (change)="valChange()">  
        </div>      
    </div>
</div>

<div class="container">
    <h2>Employees</h2>

    <table class="table">
        <thead>
            <tr>
                <td scope="col" [appSort]="users" data-order="desc" data-name="id">ID</td>
                <td scope="col" [appSort]="users" data-order="desc" data-name="name">Name</td>
                <td scope="col" [appSort]="users" data-order="desc" data-name="login">Login</td>
                <td scope="col" [appSort]="users" data-order="desc" data-name="salary">Salary</td>
                <td scope="col" >Action</td>
            </tr>
        </thead>
        <tbody>
            <tr 
            [routerLink]="['/employees']"
            [queryParams]="{minSalary:minSal, maxSalary:maxSal, offset:0, limit:30}"
            *ngFor="let u of users;">
                <td>{{u.id}}</td>
                <td>{{u.name}}</td>
                <td>{{u.login}}</td>
                <td>{{u.salary}}</td>
                <td>
                    <input class="form-control btn-warning" type="button" value="Edit" (click)="openDialog(u)"/>
                    <input class="form-control btn-dark" type="button" value="Delete" (click)="onEmpDelete(u)"/>
                </td>
            </tr>
        </tbody>
    </table>
</div>