<h1 mat-dialog-title>Edit Employee Information</h1>
<div mat-dialog-content>
  <p>Employee: {{user.id}}</p>
  <mat-form-field appearance="fill">
    <mat-label>Login</mat-label>
    <input matInput [(ngModel)]="user.login">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="user.name">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Salary</mat-label>
    <input type="number" min="0" matInput [(ngModel)]="user.salary" >
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="close()">Cancel</button>
  <button mat-button (click)="save()">Save</button>
</div>